<nav>
    <div class="logo">
        <a href="/dashboard">
            <div class="logo-img">
                <img alt="logo" src="../../images/logo-signup.png">
            </div>
            <div class="logo-text">
                <h1>Sport Dash</h1>
            </div>
        </a>
    </div>
    <div class="links">
        <ul>
            <% if(admin){ %>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/sports">Sports</a></li>
                <li><a href="/report">Report</a></li>
                <li id="logout"><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/sports">Sports</a></li>
                <li id="logout"><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>
